
.cardUi-card{
    width: 32rem;
    height: 35rem;
}

.cardUi-img{

    height: 300px;
}

.cardUi-card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important; 
}

.cardUi-card-body{
    padding: 3rem 0!important;
}

.cardUi-card-text {
    font-size: 0.9rem; 
    padding: 0.4rem 1.9rem;
}

.cardUi-overflow{
    overflow: hidden;
}

.cardUi-card-img-top{
    transform:scale(1);
    transition: transform 0.3s ease;
}

.cardUi-card-img-top:hover{
    transform: scale(1.8);
}